:root {
  --width: 720px;
  --font-family: 'JetBrains Mono', monospace;
  --font-scale: 1.08em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color: #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --icon-filter: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #11131a;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #8cc2dd;
    --visited-color: #8b6fcb;
    --code-background-color: #000;
    --code-color: #ddd;
    --icon-filter: invert(1);
  }
}
