<footer>
    {%- if not config.extra.hide_footer_links %}
    <div class="footer-content">
        <span class="copyright"
            >Copyright © {{ now() | date(format="%Y") }} ·
            <a href="/privacy" class="privacy-link">Privacy</a></span
        >
        <div class="footer-links">
            {%- if config.extra.footer_icons -%}
                {%- for item in config.extra.footer_icons -%}
                <a href="{{ item.link }}" aria-label="{{ item.name }}" target="_blank" rel="noopener noreferrer">
                    <img
                        src="{{ item.icon }}"
                        alt="{{ item.name }}"
                        class="footer-icon"
                        width="24"
                        height="24"
                    />
                </a>
                {%- endfor -%}
            {%- endif -%}
        </div>
    </div>
    {%- endif %}
</footer>
