{%- macro table_of_contents(toc, max_level) %}
<ul>
  {%- for header in toc %}
    <li>
      <a href="{{ header.permalink | safe }}">{{ header.title }}</a>
        {%- if header.children and header.level < max_level %}
          {{- self::table_of_contents(toc=header.children, max_level=max_level) | indent() | safe() }}
        {%- endif %}
    </li>
  {%- endfor %}
</ul>
{%- endmacro %}

{%- macro post_list(pages) %}
<ul class="blog-posts">
  {%- for page in pages %}
    <li>
      <span>
        <i>
          <time datetime="{{ page.date | date(format='%+') }}">
            {{ page.date | date(format=config.extra.date_format) }}
          </time>
        </i>
      </span>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
  {%- else %}
    <li>No posts</li>
  {%- endfor -%}
</ul>
{%- endmacro %}

{%- macro tag_cloud(kind) %}
{%- set tags = get_taxonomy(kind=kind) %}
<div class="tags">
  {%- for tag in tags.items %}
    <a href="{{ tag.permalink }}">#{{ tag.name }}</a>&nbsp;
  {%- endfor %}
</div>
{%- endmacro %}
